<div class="navbar">
  <div class="d-flex justify-content-end container">
    <div>
      <div class="navs">
        <a href="https://github.com/anas283" target="_blank" class="nav">
          <i-feather name="github" class="icon"></i-feather>
        </a>
        <a
          href="https://www.linkedin.com/in/anas283"
          target="_blank"
          class="nav"
        >
          <i-feather name="linkedin" class="icon"></i-feather>
        </a>
      </div>
    </div>
    <div>
      <a href="../../../assets/Resume - Muhammad Anas.pdf" target="_blank" class="btn btn-dark-outline"
        >Resume</a
      >
      <a href="mailto:muhammadanasbinadam@gmail.com" class="btn btn-dark ms-2"
        >Contact Me</a
      >
    </div>
  </div>
</div>
