.navbar {
  width: 100%;
  padding: 20px 0;

  .navs {
    display: flex;
    flex-direction: row;
    margin-right: 20px;

    .nav {
      margin: 0 8px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      .icon {
        color: var(--gray);
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        .icon {
          color: var(--blue);
        }
      }
    }

    .resume {
      color: var(--gray);
      text-decoration: none;
    }
  }

  .logo {
    font-size: 24px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    padding: 20px 20px;

    .icon {
      margin-top: -5px;
    }
  }
}
