<section class="container">
  <div class="wrapper-home w-100">
    <div class="section-home">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-lg-6">
          <h4 class="section-title text-start">
            Frontend Developer based in Malaysia
          </h4>
          <h5 class="section-subtitle text-start">
            I love to craft solid and scalable frontend products with great 
            user experiences. Hightly skilled at progressive enhancement 
            and near pixel perfect websites.
          </h5>
        </div>
        <div class="col-12 col-lg-6 center-sm">
          <img class="hero-image" src="../../../assets/images/hero.webp">
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-work">
    <h2 class="section-title">Side projects I've built</h2>

    <div class="d-flex flex-wrap">
      <div class="col-12 col-lg-6">
        <div class="card-1 card-pr5">
          <div
            class="image-container"
            (click)="goToUrl('https://crypto-web-1.vercel.app')"
          >
            <img
              src="../../../assets/images/preview-1.png"
              alt="preview-1"
              class="work-image"
              loading="lazy"
            />
          </div>
          <div class="card-info">
            <div class="row">
              <div class="col-12">
                <h5
                  class="title"
                  (click)="goToUrl('https://crypto-web-1.vercel.app')"
                >
                  SaaS Landing Page
                </h5>
                <div class="row">
                  <h6 class="subtitle">
                    Designed by:
                    <a
                      href="https://www.figma.com/file/HSG2PhWV3o3Uw8YhsOv8tO/SaaS-Landing-Page-5-(Community)?node-id=0%3A1"
                      target="_blank"
                      >AR Shakir</a
                    >
                  </h6>
                </div>
                <span class="badge badge-red">Angular</span>
              </div>
              <div class="col-2 d-flex justify-content-end"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card-1 card-pl5">
          <div
            class="image-container"
            (click)="goToUrl('https://intro-section-fm.vercel.app')"
          >
            <img
              src="../../../assets/images/preview-2.png"
              alt="preview-2"
              class="work-image"
              loading="lazy"
            />
          </div>
          <div class="card-info">
            <div class="row">
              <div class="col-12">
                <h5
                  class="title"
                  (click)="goToUrl('https://intro-section-fm.vercel.app')"
                >
                  Intro Section
                </h5>
                <div class="row">
                  <h6 class="subtitle">
                    Designed by:
                    <a
                      href="https://www.frontendmentor.io/challenges/intro-section-with-dropdown-navigation-ryaPetHE5"
                      target="_blank"
                      >Frontend Mentor</a
                    >
                  </h6>
                </div>
                <div class="row mx-0">
                  <span class="badge badge-orange">HTML</span>
                  <span class="badge badge-blue">CSS</span>
                  <span class="badge badge-yellow">Javascript</span>
                </div>
              </div>
              <div class="col-2 d-flex justify-content-end"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 col-md-6">
        <div class="card-1 card-pl5 card-coming-soon">
          <h6>Coming soon</h6>
        </div>
      </div> -->
    </div>
  </div>
</section>
