<section class="container">
    <div class="wrapper-home d-flex align-items-center w-100 bg-light">
        <div class="section-home">
            <div
                data-aos="fade-down" 
                class="col-sm-12 col-md-8" 
                data-aos-duration="800"
                data-aos-easing="ease-in-out"
            >
            <img class="profile-image" src="../../../assets/images/profile-picture.jpg" alt="anas">
                <h1 class="section-title text-start">
                    Anas is a Frontend Developer living and working in Kedah.
                </h1>
            </div>
            <h5
                data-aos="fade-down" 
                data-aos-delay="400" 
                data-aos-duration="800"
                data-aos-easing="ease-in-out"
                class="section-subtitle text-start col-sm-12 col-md-8"
            >
                Currently Frontend Developer at <a href="/" class="link">TriSquare</a>. 
                Previously Frontend Developer Intern at <a href="/" class="link">Coder53</a>. 
                Alumni <a href="/" class="link">UiTM Kedah</a> 2021.
            </h5>
        </div>
    </div>

    <div class="wrapper-work"
        data-aos="fade-down" 
        data-aos-delay="1000" 
        data-aos-duration="800"
        data-aos-easing="ease-in-out"
        >
        <h2 class="section-title">My Work</h2>

        <div class="d-flex justify-space-between">
            <div class="col">
                <div class="card-1 card-pr5">
                    <img src="../../../assets/images/work-1.png" alt="work-1" class="work-image">
                </div>
            </div>
            <div class="col">
                <div class="card-1 card-pl5">
                    <img src="../../../assets/images/work-1.png" alt="work-1" class="work-image">
                </div>
            </div>
        </div>
    </div>
</section>