/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");

body,
html {
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
}

:root {
  --dark: #111726;
  --light: #f5f6f6;
  --gray: #8a8a8a;
  --blue: #255ae0;
}

.btn-dark {
  background-color: var(dark);
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid var(dark);
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--dark) !important;
    background-color: white;
  }
}

.btn-dark-outline {
  background-color: transparent;
  border: 1px solid var(--dark) !important;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: white;
    background-color: var(--dark);
  }
}

.bg-light {
  background-color: var(--light) !important;
}

.container {
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .btn-dark {
    font-size: 14px;
    padding: 5px 15px;
  }
  
  .btn-dark-outline {
    font-size: 14px;
    padding: 5px 15px;
  }
}