/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body, html {
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-dark {
    background-color: #111726;
    padding: 15px 20px;
    border-radius: 10px;
}